h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Do Hyeon', sans-serif;
}

body {
    background-color: #8f2d06;
    font-family: 'Nanum Gothic', sans-serif;
    color: #cdccba;
}

a {
    color: #cdccba;
}

a:visited {
    color: #cdccba;
}

a:hover {
    color: #777666;
}

a:active {
    color: #cdccba;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: larger;
}

.bg-light {
    background-color: #8f2d06!important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(205 204 186 / 65%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(205 204 186);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(205 205 205 / 90%);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(205 204 186 / 65%);
}

@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .hide-desktop {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 900px;
        position: relative;
    }
}


/* https://www.w3schools.com/howto/howto_css_image_text.asp */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

a.black {
    color: #cdccba;
}

a.black:visited {
    color: #cdccba;
}

a.black:hover {
    color: #8f2d06;
}

a.black:active {
    color: #cdccba;
}